/* Notice */
.notice{
	background:#efefef;
	border-bottom: 1px solid #333;
	color:#ffffff;
	padding:9px 10px 11px 40px;
	margin:10px 0px 10px 0px;
	position: relative;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	-khtml-border-radius:3px;
}
.notice.success:before, .notice.error:before, .notice.info:before {
	content: '';
	top: 2px;
	left: 5px;
	position: absolute;
	padding: 16px;
}
.notice.success{
	background: #61b832;
	background: #61b832 -webkit-repeating-linear-gradient(#61b832, #479619);
	background: #61b832 -moz-repeating-linear-gradient(#61b832, #479619);
}
	.notice.success:before {
		background: url("images/good.png") no-repeat;
		top: 4px;
	}
.notice.error {
	background: #CE3512;
	background: #CE3512 -webkit-repeating-linear-gradient(#E6724E, #CE3512);
	background: #CE3512 -moz-repeating-linear-gradient(#E6724E, #CE3512);
}
	.notice.error:before {
		background: url("images/error.png") no-repeat;
	}
.notice.info {
	background: #61B0CA;
	background: #61B0CA -webkit-repeating-linear-gradient(#61B0CA, #408399);
	background: #61B0CA -moz-repeating-linear-gradient(#61B0CA, #408399);
}
	.notice.info:before {
		background: url("images/info.png") no-repeat;
	}

/* ClearFix */
.group:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* Forms + Labels */
label {
	border-right: 0px;
	clear: clear;
	float: left;
	font-weight: bold;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
label span {
	float: left;
	padding: 5px 0px 5px 0px;
}

input, select {
	clear: both;
	float: left;
	width: 288px;
}
input[type=submit] {
    width: 300px;
    padding: 6px;
}

#members {
	width: 300px;
	margin: 0px auto;
}

form p.remember_me {
	float: left;
	line-height: 1em;
	padding: 0px 0px 10px 0px;
}
form p.remember_me input[type=checkbox] {
	float: left;
	margin: 0px 5px 0px 0px;
	width: 15px;
}

.button.full {
	float: left;
	width: 290px;
	margin: 0px 0px 10px 0px;
	text-align: center;
}
