html, input {
    font-size: 14px;
}

#members {
    width: 300px;
    margin: 0px auto;
}

/* ClearFix */
.group:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* Forms + Labels */
label {
    border-right: 0px;
    font-weight: normal;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    display: block;
    padding-bottom: 10px;
}
label span {
    line-height: 1.5em;
}

input.expand, select.expand {
    width: 288px;
}
input.username {
    width: 200px;
}
input[type=submit] {
    width: 300px;
    padding: 6px;
}

.button.full {
    float: left;
    width: 290px;
    margin: 0px 0px 10px 0px;
    text-align: center;
}

/* Notice */
.notice{
    background:#efefef;
    border-bottom: 1px solid #333;
    color:#ffffff;
    padding:9px 10px 11px 40px;
    margin:10px 0px 10px 0px;
    position: relative;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.notice.success:before, .notice.error:before, .notice.info:before {
    content: '';
    top: 2px;
    left: 5px;
    position: absolute;
    padding: 16px;
}
.notice.success{
    background-color: #61B832;
    background-image: -webkit-linear-gradient(top, #61B832, #479619);
    background-image:    -moz-linear-gradient(top, #61B832, #479619);
    background-image:     -ms-linear-gradient(top, #61B832, #479619);
    background-image:      -o-linear-gradient(top, #61B832, #479619);
    background-image:         linear-gradient(to bottom, #61B832, #479619);
}
    .notice.success:before {
        background: url("images/good.png") no-repeat;
        top: 4px;
    }
.notice.error {
    background-color: #CE3512;
    background-image: -webkit-repeating-linear-gradient(top, #E6724E, #CE3512);
    background-image:    -moz-repeating-linear-gradient(top, #E6724E, #CE3512);
    background-image:     -ms-repeating-linear-gradient(top, #E6724E, #CE3512);
    background-image:      -o-repeating-linear-gradient(top, #E6724E, #CE3512);
    background-image:         repeating-linear-gradient(to bottom, #E6724E, #CE3512);
}
    .notice.error:before {
        background: url("images/error.png") no-repeat;
    }
.notice.info {
    background-color: #61B0CA;
    background-image: -webkit-repeating-linear-gradient(top, #61B0CA, #408399);
    background-image:    -moz-repeating-linear-gradient(top, #61B0CA, #408399);
    background-image:     -ms-repeating-linear-gradient(top, #61B0CA, #408399);
    background-image:      -o-repeating-linear-gradient(top, #61B0CA, #408399);
    background-image:         repeating-linear-gradient(to bottom, #61B0CA, #408399);
}
    .notice.info:before {
        background: url("images/info.png") no-repeat;
    }
