/*----------------------------------------------------
 * Load some custom fonts.
 * Open Sans: Apache License, version 2.0
 *----------------------------------------------------*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

/*----------------------------------------------------
 * General
 *----------------------------------------------------*/

html {
    background-color: #444444;
    color: white;
    font-family: 'Open Sans','Droid Sans',Arial,sans-serif;
    font-size: 13px;
}

fieldset {
    border: 1px solid #CCCCCC;
    margin-bottom: 10px;
}

input {
    font-family: 'Open Sans','Droid Sans',Arial,sans-serif;
    font-size: 13px;
}

dt {
    font-weight: bold;
}

a:link, a:visited {
    color: #FFFFFF;
    text-decoration: none;
}
a:hover, a:active {
    color: #FFFFFF;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    border-bottom: 1px solid #777777;
    font-weight: normal;
    margin: 20px auto 10px;
    padding: 3px auto;
    clear: both;
}

/*----------------------------------------------------
 * Link buttons
 *----------------------------------------------------*/

.button,
.button.disabled:hover,
.button:disabled:hover {
    background-color: #4E4E4E;
    background-image: -webkit-linear-gradient(top, #4E4E4E, #222222);
    background-image:    -moz-linear-gradient(top, #4E4E4E, #222222);
    background-image:     -ms-linear-gradient(top, #4E4E4E, #222222);
    background-image:      -o-linear-gradient(top, #4E4E4E, #222222);
    background-image:         linear-gradient(to bottom, #4E4E4E, #222222);
    border-color: #333333 #2E2E2E #171717;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    text-shadow: 0 1px 0 #000000;
}

#tabs .button,
#tabs .button.disabled:hover,
#tabs .button:disabled:hover {
    border-color: #262626 #212121 #0A0A0A;
}

.button {
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    display: inline-block;
    font-family: Helvetica,arial,freesans,clean,sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding: 4px 10px;
    position: relative;
    margin: 0;
    white-space: nowrap;
}

.button:hover {
    background-color: #0A81BA;
    background-image: -webkit-linear-gradient(top, #0A81BA, #06567D);
    background-image:    -moz-linear-gradient(top, #0A81BA, #06567D);
    background-image:     -ms-linear-gradient(top, #0A81BA, #06567D);
    background-image:      -o-linear-gradient(top, #0A81BA, #06567D);
    background-image:         linear-gradient(to bottom, #0A81BA, #06567D);
    border-color: #2C4E6E #213B54 #112A45;
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

#tabs .button:hover {
    border-color: #213B54 #17293A #0A1A2B;
}

.button:active {
    background-color: #0B97D9;
    background-image: -webkit-linear-gradient(top, #0B97D9, #066B9C);
    background-image:    -moz-linear-gradient(top, #0B97D9, #066B9C);
    background-image:     -ms-linear-gradient(top, #0B97D9, #066B9C);
    background-image:      -o-linear-gradient(top, #0B97D9, #066B9C);
    background-image:         linear-gradient(to bottom, #0B97D9, #066B9C);
}

/*----------------------------------------------------
 * Header
 *----------------------------------------------------*/

#header h1 {
    border: medium none;
    color: #A6A6A6;
    display: inline;
    letter-spacing: 10px;
    position: relative;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
    top: -4px;
}

/*----------------------------------------------------
 * Content
 *----------------------------------------------------*/

#content-wrapper {
    overflow: visible;
    position: relative;
    width: 100%;
}

#content {
    float: left;
    position: relative;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

.text-italic {
    font-style: italic;
}

.hidden {
    display: none;
}

span.tag {
    background-color: #4C4C4C;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    color: #ffffff;
    padding: 1px 4px;
}

/*----------------------------------------------------
 * Sidebars
 *----------------------------------------------------*/

#sidebar-left, #sidebar-right {
    font-size: 90%;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    vertical-align: baseline;
}

#sidebar-left {
    margin-right: 20px;
    width: 280px;
}

#sidebar-right {
    width: 180px;
}

/*----------------------------------------------------
 * Controls
 *----------------------------------------------------*/

.control-buttons span.section {
    display: block;
    padding: 10px 0;
}

.control-buttons .ui-button {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-right: 0;
}

.control-buttons .ui-button {
    display: block;
}

#sidebar-left .ui-buttonset {
    margin-right: 0;
}

#context-controls {
    margin: 0;
    padding: 5px 0;
}

#context-controls div {
    display: none;
}

/*----------------------------------------------------
 * Image info
 *----------------------------------------------------*/

#dialog-image-info th,
#dialog-image-info td {
    vertical-align: top;
}

#dialog-image-info th {
    padding: 0 3px;
    text-align: right;
    min-width: 100px;
}

/*----------------------------------------------------
 * Input
 *----------------------------------------------------*/

input#select-species {
    width: 200px;
}

/*----------------------------------------------------
 * Action buttons
 *----------------------------------------------------*/

.action-buttons ul {
    list-style: none outside none;
    margin: 0 0 8px;
    padding: 0;
    text-align: left;
}

.action-buttons ul li {
    display: inline;
    margin-right: 1px;
}

/*----------------------------------------------------
 * User options
 *----------------------------------------------------*/

#header {
    display: block;
}

#user {
    float: right;
}

#user-options ul {
    list-style: none outside none;
    margin: 2px 0;
    padding: 0;
    text-align: left;
}

#user-options ul li {
    display: inline;
    margin-right: 8px;
}

/*----------------------------------------------------
 * Header links
 *----------------------------------------------------*/

span.headerlink {
    color: #1C7DAC;
    font-size: 0.7em;
    padding: 0 4px;
    text-decoration: none;
}
span.headerlink {
    visibility: hidden;
}
h1:hover > span.headerlink,
h2:hover > span.headerlink,
h3:hover > span.headerlink {
    visibility: visible;
}
span.headerlink:hover {
    background-color: #00415E;
    color: white;
    cursor: pointer;
}

/*----------------------------------------------------
 * Map
 *----------------------------------------------------*/

#map {
    background-color: #000000;
    border: solid 2px #7F7F7F;
    height: 400px;
    width: 600px;
}

/*----------------------------------------------------
 * Icons
 *----------------------------------------------------*/

span.inline-icon {
    margin: 2px;
    padding: 0 0 0 16px;
    position: relative;
    top: 2px;
}

.inline-icon.map {
    background: url("images/icons/map.png") no-repeat;
}

/*----------------------------------------------------
 * Photo Library
 *----------------------------------------------------*/

#photo-library {
    padding: 5px;
    height: 300px;
}

ul.jqueryFileTree a {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display: inline;
}
ul.jqueryFileTree a:hover,
ul.jqueryFileTree a.selected {
    background-color: #367FA5;
    background-image: -webkit-linear-gradient(top, #367FA5, #2B6685);
    background-image:    -moz-linear-gradient(top, #367FA5, #2B6685);
    background-image:     -ms-linear-gradient(top, #367FA5, #2B6685);
    background-image:      -o-linear-gradient(top, #367FA5, #2B6685);
    background-image:         linear-gradient(to bottom, #367FA5, #2B6685);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
ul.jqueryFileTree a.selected:hover {
    background-color: #4097C5;
    background-image: -webkit-linear-gradient(top, #4097C5, #2F6F91);
    background-image:    -moz-linear-gradient(top, #4097C5, #2F6F91);
    background-image:     -ms-linear-gradient(top, #4097C5, #2F6F91);
    background-image:      -o-linear-gradient(top, #4097C5, #2F6F91);
    background-image:         linear-gradient(to bottom, #4097C5, #2F6F91);
}

.jqueryFileTree .indicators {
    padding: 0 3px;
    position: relative;
}

.jqueryFileTree .indicators .icon {
    line-height: 18px;
    padding: 0 0 6px 18px;
    margin: 0;
}

.jqueryFileTree .indicators .annotation-complete {
    background: url("images/icons/accept.png") no-repeat;
}

.jqueryFileTree .indicators .needs-review {
    background: url("images/icons/exclamation.png") no-repeat;
}

.jqueryFileTree .indicators .unusable {
    background: url("images/icons/cross.png") no-repeat;
}

.jqueryFileTree .indicators .highlight {
    background: url("images/icons/flag_blue.png") no-repeat;
}

.jqueryFileTree .indicators .substrate-annotated {
    background: url("images/icons/soil_layers.png") no-repeat;
}

.jqueryFileTree .indicators .vector-count {
    background-color: #555555;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    cursor: default;
    margin: 0 2px;
    padding: 0 4px;
}

/*----------------------------------------------------
 * DataTables
 *----------------------------------------------------*/

table.dataTable tr.odd {
    background-color: #272727;
}
table.dataTable tr.even {
    background-color: #222222;
}

table.dataTable tr.odd td.sorting_1 {
    background-color: #003147;
}
table.dataTable tr.even td.sorting_1 {
    background-color: #00283A;
}

div.dataTables_wrapper .ui-widget-header {
    background: none;
}

/*----------------------------------------------------
 * Category editor
 * Inspired by LinkedIn.com's jellybean-editor
 *----------------------------------------------------*/

.category-editor ul {
    list-style: none outside none;
    margin: 10px 0 0;
    padding: 0;
}

.category-editor .category-container-item {
    display: inline-block;
    margin: 3px;
    position: relative;
    vertical-align: middle;
}

.category-editor .jellybean {
    background-color: #666666;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    left: 0;
    padding: 3px 5px;
    position: static;
    vertical-align: bottom;
}
.category-editor .jellybean:hover {
    background-color: #777777;
}

.category-editor .jellybean .remove {
    color: #000000;
    font-size: 11px;
    font-weight: bold;
    padding-left: 5px;
    position: relative;
    top: -1px;
}
.category-editor .jellybean .remove:hover {
    color: #A52A2A;
}

/*----------------------------------------------------
 * Misc
 *----------------------------------------------------*/

.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
