/*----------------------------------------------------
 * Load some custom fonts.
 * Open Sans: Apache License, version 2.0
 *----------------------------------------------------*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

/*----------------------------------------------------
 * General
 *----------------------------------------------------*/

html {
    background-color: #444444;
    color: white;
    font-family: 'Open Sans','Droid Sans',Arial,sans-serif;
    font-size: 13px;
}

dt {
    font-weight: bold;
}

/*----------------------------------------------------
 * Content
 *----------------------------------------------------*/

#content-wrapper {
    overflow: visible;
    position: relative;
    width: 100%;
}

#content {
    float: left;
    position: relative;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6 {
    border-bottom: 1px solid #777777;
    font-weight: normal;
    margin: 20px auto 10px;
    padding: 3px auto;
    clear: both;
}

.text-italic {
    font-style: italic;
}

/*----------------------------------------------------
 * Sidebars
 *----------------------------------------------------*/

#sidebar-left, #sidebar-right {
    font-size: 90%;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    vertical-align: baseline;
}

#sidebar-left {
    margin-right: 20px;
    width: 280px;
}

#sidebar-right {
    width: 180px;
}

/*----------------------------------------------------
 * Controls
 *----------------------------------------------------*/

.control-buttons span.section {
    display: block;
    padding: 10px 0;
}

.control-buttons .ui-button {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    margin-right: 0;
}

.control-buttons .ui-button {
    display: block;
}

#sidebar-left .ui-buttonset {
    margin-right: 0;
}

#context-controls {
    margin: 0;
    padding: 5px 0;
}

#context-controls div {
    display: none;
}

/*----------------------------------------------------
 * Image info
 *----------------------------------------------------*/

#image-info dd {
    margin: 0.3em 0.5em;
}

/*----------------------------------------------------
 * Input
 *----------------------------------------------------*/

input#select-species {
    width: 200px;
}

/*----------------------------------------------------
 * Action buttons
 *----------------------------------------------------*/

.action-buttons ul {
    list-style: none outside none;
    margin: 0 0 8px;
    padding: 0;
    text-align: left;
}

.action-buttons ul li {
    display: inline;
    margin-right: 1px;
}

/*----------------------------------------------------
 * Header links
 *----------------------------------------------------*/

span.headerlink {
    color: #1C7DAC;
    font-size: 0.7em;
    padding: 0 4px;
    text-decoration: none;
}
span.headerlink {
    visibility: hidden;
}
h1:hover > span.headerlink,
h2:hover > span.headerlink,
h3:hover > span.headerlink {
    visibility: visible;
}
span.headerlink:hover {
    background-color: #00415E;
    color: white;
    cursor: pointer;
}

/*----------------------------------------------------
 * Map
 *----------------------------------------------------*/

#map {
    background-color: #000000;
    border: solid 2px #7F7F7F;
    height: 400px;
    width: 600px;
}

/*----------------------------------------------------
 * Directory tree
 *----------------------------------------------------*/

#dir-tree {
    padding: 5px;
    height: 300px;
}

ul.jqueryFileTree a {
    color: #FFFFFF;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

ul.jqueryFileTree a:hover {
    background-color: #555555;
}

/*----------------------------------------------------
 * DataTables
 *----------------------------------------------------*/

table.dataTable tr.odd {
    background-color: #272727;
}
table.dataTable tr.even {
    background-color: #222222;
}

table.dataTable tr.odd td.sorting_1 {
    background-color: #003147;
}
table.dataTable tr.even td.sorting_1 {
    background-color: #00283A;
}

div.dataTables_wrapper .ui-widget-header {
    background: none;
}

/*----------------------------------------------------
 * Misc
 *----------------------------------------------------*/

.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
